<div class="card">
    <div class="card-body">
      <form [formGroup]="angForm" novalidate>
        <div class="form-group">
          <label class="col-md-4">Open Date</label>
          <input type="date" class="form-control" formControlName="openDate" #openDate />
        </div>
        <div *ngIf="angForm.controls['openDate'].invalid && (angForm.controls['openDate'].dirty || angForm.controls['openDate'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['openDate'].errors.required">
            Open date is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Balance </label>
          <input type="text" class="form-control" formControlName="balance" #balance />
        </div>
        <div *ngIf="angForm.controls['balance'].invalid && (angForm.controls['balance'].dirty || angForm.controls['balance'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['balance'].errors.required">
            Balance is required.
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4">Customer Number </label>
          <select formControlName="customerNumber" class="form-control" #customerNumber >
          <option value="" disabled > Choose </option>
          <option *ngFor="let item of customer" [ngValue]="item.customerNumber" >  {{item.customerNumber}} </option>
        </select>
          <!-- <input type="text" class="form-control" formControlName="customerNumber" #customerNumber /> -->
        </div>

        <div *ngIf="angForm.controls['customerNumber'].invalid && (angForm.controls['customerNumber'].dirty || angForm.controls['customerNumber'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['customerNumber'].errors.required">
            Customer Number is required.
          </div>
        </div>
        <div class="form-group">
            <button (click)="addAccount()"
            [disabled]="angForm.pristine || angForm.invalid" 
            class="btn btn-primary" >
            Add Account
         </button>
        </div>
      </form>
    </div>
  </div>