<nav class='navmenu'>
    <ul>
        <li><a routerLink='' ><i class="fa fa-home" ></i> Home</a></li>
        <li class='submenu'><a routerLink='list_customer' >Customer</a>
           
        </li>
        <li class='submenu'><a href="/list_account">Account</a>
            <!-- <ul class='dropdown'>
                <li><a href="createAccount.html">Create</a></li>
                <li><a href="accountList.html">List</a></li>
               
            </ul> -->
        </li>
        <li class='submenu'><a href="/list_transaction">Transaction</a>
           
        </li>

        <!-- <li class='submenu' style="float : right;"><a href="#"><span id="userMessage" > </span></a>
            <ul class='dropdown'>
                    <li><a href="signin.html" onclick="logout();">Logout</a></li>
                    
                </ul>
        </li> -->
    
  
   
    </ul>
  </nav>