<p>
  create-customer works!
</p>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    
  </title>

</head>
<body>

  

    <div class="container" >
      <div class="col-md-10" >
          <h3>CREATE DATA CUSTOMER</h3>
        
        <form [formGroup]="customerFormGroup"  >

        <div class="form-group row">
              <label for="firstname" class="col-sm-2 col-form-label col-form-label-sm">Fistname</label>
              <div class="col-sm-10">
                <input type="text" formControlName="firstName"  class="form-control form-control-sm" id="firstname">
              </div>
              
        </div>
        <div class="form-group row">
          <label for="lastname" class="col-sm-2 col-form-label col-form-label-sm">LastName</label>
          <div class="col-sm-10">
            <input type="text"  formControlName="lastName" class="form-control form-control-sm" id="lastname" >
          </div>
        </div>

        <div class="form-group row">
          <label for="date" class="col-sm-2 col-form-label col-form-label-sm">Birth Of Date</label>
          <div class="col-sm-10">
            <input type="date" formControlName="birthDate"  class="form-control form-control-sm" id="date" >
          </div>
        </div>

        <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label col-form-label-sm">Username</label>
            <div class="col-sm-10">
              <input type="text" formControlName="username"  class="form-control form-control-sm" id="username">
             
            </div>
          </div>

          <div class="form-group row">
              <label for="password" class="col-sm-2 col-form-label col-form-label-sm">Password</label>
              <div class="col-sm-10">
                <input type="text" formControlName="password" class="form-control form-control-sm" id="password">
               
              </div>
            </div>

        <div class="form-group row">
          <label for="phonetype" class="col-sm-2 col-form-label col-form-label-sm">PhoneType</label>
          <div class="col-sm-10">
            <input type="text" formControlName="phonetype" class="form-control form-control-sm" id="phonetype">
           
          </div>
        </div>

        <div class="form-group row">
          <label for="phoneNumber" class="col-sm-2 col-form-label col-form-label-sm">PhoneNumber</label>
          <div class="col-sm-10">
            <input type="text" formControlName="phoneNumber"  class="form-control form-control-sm" id="phoneNumber">
          </div>
        </div>

        <button class="btn btn-info btn-sm  " (click)="submitData()" type="submit" [disabled]="!customerFormGroup.valid"  ><i class="fa fa-save" ></i> Submit</button>
        
        <button class="btn btn-info btn-sm" (click)="cancle()" ><i class="fa fa-save" ></i> Cancel</button>

      </form>
      </div>

    </div>

    
  
</body>
</html>
